/* Default */

body {
    background: radial-gradient(ellipse at bottom, #1b2735 5%, #090a0f 95%);
}

/* Menu */
.bg-body-tertiary {
    background: radial-gradient(ellipse at bottom, #1b2735 5%, #090a0f 95%);
}

@media (min-width: 992px) {
    .collapse.navbar-collapse{
        justify-content: flex-end;
    }
}

/* Flex */

.flex-justify-content {
    justify-content: center;
    align-items: center;
}


/* Footer */

.footer{
    background: radial-gradient(ellipse at bottom, #1b2735 5%, #090a0f 95%);
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    overflow: visible;
}
.footer .container{
	max-width: 100%;
}
.footer .copyright{
    font-size: 14px;
}
.networkStatusMenu {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.networkStatusMenu:hover .blockchaininfo {
    display: block;
}

#networkStatus {
    display: inline-block;
    background: #353535;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #606060;
}

.networkStatus {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    border-radius: 0.5rem;
    max-width: max-content;
    text-align: end;
}

.networkStatus:hover {
    background: #ffffff3f;
}

.blockchaininfo {
    display: none;
    min-width: max-content;
    position: absolute;
    bottom: 100%; 
    right: 0;
    background: #1b2735;
    padding: 0.8rem;
    border-radius: 0.5rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

.blockchaininfo p { 
    margin-left: 1rem;
    margin-right: 1rem;
}