/* Default */

body {
    background: radial-gradient(ellipse at bottom, #1b2735 5%, #090a0f 95%);
}

/* Menu */
.bg-body-tertiary {
    background: radial-gradient(ellipse at bottom, #1b2735 5%, #090a0f 95%);
}

.nav-item  {
    font-size: 1.25rem;
    font-weight: bolder;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.dropdown-item:active{
    background: #ffc219d8;
}

@media (min-width: 992px) {
    .collapse.navbar-collapse{
        justify-content: flex-end;
    }
}

/* Flex */

.flex-justify-content {
    justify-content: center;
    align-items: center;
}


/* Footer */

.footer{
    background: radial-gradient(ellipse at bottom, #1b2735 5%, #090a0f 95%);
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    overflow: visible;
}

.footer-menus {
    border-bottom: 1px solid #202b3c;
    margin-right: -2rem;
    margin-left: -2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer .container{
	max-width: 100%;
}

.footer-menu {
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.footer-menu .footer-item {
    color: #89adad;
    display: table;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
}

.footer-menu summary {
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
    color: #89adad;
}

.donation-qr img {
    width: 30%;
    max-width: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.donation-qr img.btc {
    border: 5px solid #ffc400;
}

.donation-qr img.ltc {
    border: 5px solid #999999;
}

.donation-qr img.doge {
    border: 5px solid #fbff00;
}

.donation-qr img.ztc {
    border: 5px solid #ffd900;
}

.footer .copyright{
    font-size: 14px;
}
.networkStatusMenu {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.networkStatusMenu:hover .blockchaininfo {
    display: block;
}

#networkStatus {
    display: inline-block;
    background: #353535;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #606060;
}

.networkStatus {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    border-radius: 0.5rem;
    max-width: max-content;
    text-align: end;
}

.networkStatus:hover {
    background: #ffffff3f;
}

.blockchaininfo {
    display: none;
    min-width: max-content;
    position: absolute;
    bottom: 100%; 
    right: 0;
    background: #1b2735;
    padding: 0.8rem;
    border-radius: 0.5rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

.blockchaininfo p { 
    margin-left: 1rem;
    margin-right: 1rem;
}