.zentcash-mining-pools{
    color: #FFFFFF;
    background: linear-gradient(120deg, #0B0F14 60%, #C6A75E 100%);
    position: relative;
    border: 1px solid #323232;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 8%;
    padding-right: 8%;
}

.zentcash-mining-pools-title{
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}

.zentcash-mining-pools-subtitle{
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1rem;
}

.mining-pool{
    padding: 1rem;
}

.card-mining-pool {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration-line: none;
    flex-direction: column;
    color: #FFFFFF;
    min-width: 100%;
    min-height: 10rem;
    background: #000000;
    border-radius: 3%;
}

.card-mining-pool:hover.active {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration-line: none;
    flex-direction: column;
    color: #FFFFFF;
    min-width: 100%;
    min-height: 10rem;
    background: #5cee7b;
    border-radius: 3%;
    transform: scale(1.1);
}

.card-mining-pool:hover.in-progress {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration-line: none;
    flex-direction: column;
    color: #FFFFFF;
    min-width: 100%;
    min-height: 10rem;
    background: #f3dd60;
    border-radius: 3%;
}